<div class="about-me-container">
  <div class="description-about-me">
    <h2>{{ 'ABOUT_ME' | translate }}</h2>
    <span class="introduce">{{ 'ABOUT_ME_DESCRIPTION' | translate }}</span>
    <div class="personal-container">
      <img src="./../../assets/img/creativ.png" />
      <span>
        {{ 'PERSONAL_SHARE_1' | translate }}
      </span>
    </div>
    <div class="personal-container">
      <img src="./../../assets/img/puzzle.png" />
      <span>
        {{ 'PERSONAL_SHARE_2' | translate }}
      </span>
    </div>
  </div>
  <div class="small-image-container">
    <div class="image-container">
      <img src="./../../assets/img/small-profile.png" />
    </div>
    <div class="green-line"></div>
  </div>
</div>
