<div class="about-me-container">
  <div class="description-about-me">
    <h2>About me</h2>
    <span class="introduce"
      >Hi, I am a Front-end deverloper based in München, Germany(....)Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non
      tempus convallis. Integer et justo vitae urna finibus eleifend sit amet
      porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
    </span>
    <div class="personal-container">
      <img src="./../../assets/img/creativ.png" />
      <span
        >Some personal thing to share(...) Donec ut imperdiet diam, et convallis
        neque. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </span>
    </div>
    <div class="personal-container">
      <img src="./../../assets/img/puzzle.png" />
      <span
        >Some personal thing to share(...) Donec ut imperdiet diam, et convallis
        neque. Class aptent taciti sociosqu ad litora torquent per conubia
        nostra, per inceptos himenaeos.
      </span>
    </div>
  </div>
  <div class="small-image-container">
    <div class="image-container">
      <img src="./../../assets/img/small-profile.png" />
    </div>
    <div class="green-line"></div>
  </div>
</div>
