<div class="aot-container">
  <img class="purple-shadow" src="./../../assets/img/Purple shadow 2.png" />
  <div class="img-introduce-container">
    <img
      class="profile-img"
      src="./../../assets/img/profile.png"
      alt="picture of me"
    />
    <img class="background-line" src="./../../assets/img/Vector.png" />
    <div class="introduce-btn-container">
      <div class="introduce">
        <div class="rotate">
          <span>{{ "I_AM" | translate }}</span>
        </div>
        <div class="name">
          <h1>Oleg Benets</h1>
          <h3>{{ "FRONTEND_DEVELOPER" | translate }}</h3>
        </div>
      </div>
      <a href="#contact" class="lets-talk-button green-button">{{
        "LETS_TALK" | translate
      }}</a>
    </div>
  </div>
  <div class="social-links">
    <div class="purple-line"></div>
    <a class="icon-link" target="_blank" href="https://github.com/OlegBenets"
      ><img class="icons" src="./../../assets/img/github-icon.png"
    /></a>
    <a class="icon-link" target="_blank" href="mailto:oleg.benets@web.de"
      ><img class="icons" src="./../../assets/img/mail-icon.png"
    /></a>
    <a
      class="icon-link"
      target="_blank"
      href="https://www.linkedin.com/in/oleg-benets/"
      ><img class="icons" src="./../../assets/img/linkedin-icon.png"
    /></a>
    <a href="mailto:oleg.benets@web.de" target="_blank"
      >oleg.benets&#64;web.de</a
    >
  </div>
  <div class="scroll-container">
    <span class="scroll-info">{{ "SCROLL_DOWN" | translate }} </span>
    <img class="arrow" src="./../../assets/img/arrow.png" />
  </div>
</div>
