@import './../../styles.scss';

.aot-container {
    @include position($p: relative, $t: 0px);
    @include dFlex($jc: center, $ai: flex-start);
    background-image: url(../../assets/img/Vector.png);
    background-size: 100%;
    background-repeat: no-repeat;  
    width: 100%;
    min-height: 800px;
    height: auto;
    padding-top: 100px;
    background-color: $dark_blue;
  }

  .purple-shadow {
    @include position($t: 750px, $l: none);
    right: 0;
    width: 372px;
    height: auto;
  }

h1 {
  margin: 0;
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 700;
  color: white;
  text-wrap: nowrap;
}

h3 {
  margin: 0;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: 400;
  color: $violet;
  text-wrap: nowrap;
}

.img-introduce-container {
  @include dFlex($jc: space-between, $ai: center);
  width: 90%;

  .profile-img {
    width: 50%;
    max-width: 646px;
    height: auto;
    background-image: url(../../assets/img/photo\ shadows.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.introduce-btn-container {
  @include dFlex( $jc:center, $ai:center, $g: 42px);
  flex-direction: column;
  width: 50%;
  max-width: 720px;
  height: auto;
}


.introduce {
    @include dFlex( $ai:center, $g: 8px);
    width: 100%;
    max-width: 720px;
    height: 170px;
    .rotate {
        @include dFlex($ai: flex-end);
        text-wrap: nowrap;
        transform: rotate(-90deg);
        font-size: clamp(1.5rem, 4vw, 4rem);
        font-weight: 400;
        color: white
    };
}

.name {
    @include dFlex($jc: center, $ai: flex-start);
    flex-direction: column;
}

.lets-talk-button {
  @include dFlex($jc: center, $ai: center);
    width: calc(165px - 60px);
    height: calc(58px - 30px);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 400;
    background-color: $green;
    color: white;
    text-decoration: none;
}

.social-links {
  @include position($t: 903px, $l: 0px);
  @include dFlex($jc: flex-end, $ai: center, $g: 42px);
  width: 50%;
  height: 40px;
  .purple-line {
    width: 100%;
    border: 3px solid $violet;
  }
  .icons {
    width: 30px;
    height: 30px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
  }
}

.scroll-container {
  @include position($t: 773px, $l: none);
  right: 4px;
  @include dFlex($jc: space-between, $ai: center, $g: 3px);
  width: 160px;
  height: 28px;
  transform: rotate(90deg);
  .scroll-info {
    font-size: 24px;
    font-weight: 400;
    color: white;
  }

  .arrow {
    transform: rotate(-90deg);
  }
}
