@import './../../styles.scss';

.aot-container {
    @include position($p: relative, $t: 100px);
    background-image: url(../../assets/img/Vector.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1024px;
    width: 100%;
    @include dFlex($jc: space-evenly, $ai: center);
    background-color: $dark_blue;
  
    .profile-img {
      @include position($t: 106px, $l: 47px);
      width: 646px;
      height: auto;
      background-image: url(../../assets/img/photo\ shadows.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  .purple-shadow {
    @include position($t: 750px, $l: none);
    right: 0;
    width: 372px;
    height: auto;
  }

h1 {
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  color: white;
  text-wrap: nowrap;
}

h3 {
  margin: 0;
  font-size: 58px;
  font-weight: 400;
  color: $violet;
  text-wrap: nowrap;
}


.introduce {
  @include position($t: 297px, $l: 622px);
    @include dFlex($g: 35px);
    width: 720px;
    height: 170px;
    .rotate {
        @include dFlex($ai: flex-end);
        text-wrap: nowrap;
        transform: rotate(-90deg);
        font-size: 64px;
        font-weight: 400;
        color: white
    };
}

.name {
    @include dFlex($jc: center, $ai: flex-start);
    flex-direction: column;
}

.lets-talk-button {
    @include position($t: 513px, $l: 892px);
    width: 165px;
    height: 58px;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 400;
    background-color: $green;
    color: white;
}

.social-links {
  @include position($t: 903px, $l: 0px);
  @include dFlex($jc: flex-start, $ai: center, $g: 42px);
  width: 600px;
  height: 40px;
  .purple-line {
    width: 100px;
    border: 3px solid $violet;
  }
  .icons {
    width: 30px;
    height: 30px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
  }
}

.scroll-container {
  @include position($t: 773px, $l: none);
  right: 4px;
  @include dFlex($jc: space-between, $ai: center, $g: 3px);
  width: 160px;
  height: 28px;
  transform: rotate(90deg);
  .scroll-info {
    font-size: 24px;
    font-weight: 400;
    color: white;
  }

  .arrow {
    transform: rotate(-90deg);
  }
}
