<div class="aot-container">
  <img class="purple-shadow" src="./../../assets/img/Purple shadow 2.png">
  <div class="img-introduce-container">
  <img class="profile-img" src="./../../assets/img/profile.png" alt="picture of me" />
 <div class="introduce-btn-container">
  <div class="introduce">
    <div class="rotate">
      <span>I am</span>
    </div>
    <div class="name">
      <h1>Oleg Benets</h1>
      <h3>FRONTEND DEVELOPER</h3>
    </div>
  </div>
  <a href="#contact" class="lets-talk-button green-button">Let`s talk!</a>
  </div>
</div>
  <div class="social-links">
    <div class="purple-line"></div>
    <img class="icons" src="./../../assets/img/github-icon.png">
    <img class="icons" src="./../../assets/img/mail-icon.png">
    <img class="icons" src="./../../assets/img/linkedin-icon.png#">
    <a href="#">oleg.benetsweb.de</a>
  </div>
  <div class="scroll-container">
    <span class="scroll-info">Scroll down</span>
    <img class="arrow" src="./../../assets/img/arrow.png">
  </div>
</div>
