<header>
  <a class="back-to-aot" href="#aot">
    <img src="./../../../assets/img/logo.png" alt="logo" />
  </a>
  <div class="links-translate-container">
    <div class="to-section-links">
      <a href="#about-me" [class.active]="activeLink === 'about-me'" (click)="setActiveLink('about-me')">{{ "ABOUT_ME" | translate }}</a>
      <a href="#skills" [class.active]="activeLink === 'skills'" (click)="setActiveLink('skills')">{{ "SKILLS" | translate }}</a>
      <a href="#portfolio" [class.active]="activeLink === 'portfolio'" (click)="setActiveLink('portfolio')">{{ "PORTFOLIO" | translate }}</a>
    </div>
    <div class="translate-container">
      <button class="translate-button" (click)="switchLanguage('de')">
        de
      </button>
      <div class="border"></div>
      <button class="translate-button" (click)="switchLanguage('en')">
        en
      </button>
    </div>
    <div class="burger-menu">
      <button (click)="toggleBurgerMenu()" class="burger-menu-btn">
        <img class="burger-menu-img" [src]="currentImage" />
      </button>
    </div>
  </div>
</header>

<div class="fullscreen-menu" [ngClass]="{ show: isBurgerMenuVisible }">
  <div class="to-section-links-mobile">
    <a [class.active]="activeLink === 'about-me'" (click)="setActiveLink('about-me')" (click)="toggleBurgerMenu()" href="#about-me">{{
      "ABOUT_ME" | translate
    }}</a>
    <a [class.active]="activeLink === 'skills'" (click)="setActiveLink('skills')" (click)="toggleBurgerMenu()" href="#skills">{{
      "SKILLS" | translate
    }}</a>
    <a [class.active]="activeLink === 'portfolio'" (click)="setActiveLink('portfolio')"(click)="toggleBurgerMenu()" href="#portfolio">{{
      "PORTFOLIO" | translate
    }}</a>
    <a [class.active]="activeLink === 'contact'" (click)="setActiveLink('contact')" (click)="toggleBurgerMenu()" href="#contact">{{
      "CONTACT" | translate
    }}</a>
  </div>
</div>
