@import "./../../../styles.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  height: calc(110px - 74px);
  padding: 37px 100px;
  background-color: $dark_blue;
  z-index: 100;

  .back-to-aot {
    text-decoration: none;
    scroll-behavior: smooth;
  }

  h3 {
    margin: 0;
    color: white;
    font-size: 40px;
    span {
        color: $green;
    }
  }
}

.go-to {
  display: flex;
  align-items: center;
  gap: 29px;

  a {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    scroll-behavior: smooth;
    transition: color ease-in-out 175ms;

    &:hover {
      cursor: pointer;
      color: $green;
    }
  }
}
