header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 200px);
  height: calc(110px - 74px);
  padding: 37px 100px;
  background-color: #141d2f;
  z-index: 100;

  h3 {
    margin: 0;
    color: white;
    font-size: 40px;
    span {
        color: #70e61c;
    }
  }
}

.go-to {
  display: flex;
  align-items: center;
  gap: 29px;

  a {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: white;
  }
}
