@import "./../../../styles.scss";

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  width: calc(100% - 200px);
  height: calc(110px - 74px);
  padding: 37px 100px;
  background-color: $dark_blue;
  z-index: 100;

  .back-to-aot {
    text-decoration: none;
  }

  h3 {
    margin: 0;
    color: white;
    font-size: 40px;
    span {
        color: $green;
    }
  }
}

.links-translate-container {
  @include dFlex($jc: space-between, $ai: center, $g: 46px);
}

.to-section-links {
  display: flex;
  align-items: center;
  gap: 29px;

  a {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: color ease-in-out 175ms;

    &:hover {
      cursor: pointer;
      color: $green;
    }
  }

  .translate-container {
    @include dFlex($jc: center, $ai: center, $g: 12px);
    
    .translate-button {
      background: none;
      border: none;
      color: white;
      font-size: 18px;
      cursor: pointer;
      transition: color ease-in-out 175ms;

      &:hover {
        color: $green;
      }

      span {
        color: white;
      }
    }
  }
}
