<header>
  <a class="back-to-aot" href="#aot">
    <img src="./../../../assets/img/logo.png" alt="logo">
  </a>
  <div class="links-translate-container">
    <div class="to-section-links">
      <a href="#about-me">{{ 'ABOUT_ME' | translate }}</a>
      <a href="#skills">{{ 'SKILLS' | translate }}</a>
      <a href="#portfolio">{{ 'PORTFOLIO' | translate }}</a>
    </div>
    <div class="translate-container">
        <button class="translate-button" (click)="switchLanguage('de')">de</button>
        <div class="border"></div>
        <button class="translate-button" (click)="switchLanguage('en')">en</button>
    </div>
    <div class="burger-menu">
      <button (click)="toggleBurgerMenu()" class="burger-menu-btn">
        <img class="burger-menu-img" [src]="currentImage">
      </button>
    </div>
  </div>
</header>

<div class="fullscreen-menu"[ngClass]="{'show': isBurgerMenuVisible}">
  <div class="to-section-links-mobile">
    <a (click)="toggleBurgerMenu()" href="#about-me">{{ 'ABOUT_ME' | translate }}</a>
    <a (click)="toggleBurgerMenu()" href="#skills">{{ 'SKILLS' | translate }}</a>
    <a (click)="toggleBurgerMenu()" href="#portfolio">{{ 'PORTFOLIO' | translate }}</a>
    <a (click)="toggleBurgerMenu()" href="#contact">{{ 'CONTACT' | translate }}</a>
  </div>
</div>


