<div class="contact-container">
  <div class="up-to-aot">
    <a href="#aot"><img class="arrow-up" src="./../../assets/img/arrow-up.png"></a>
  </div>
  <img class="purple-shadow" src="./../../assets/img/Purple shadow 4.png">
  <div class="headline">
    <div class="purple-line"></div>
  <h2>Contact</h2>
</div>
<div class="form-description-container">
  <div class="description">
    <h4>Got a problem to solve?</h4>
    <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
    <span>Need a Frontend developer? <b>Contact me!</b></span>
  </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

      <div class="inputs-container">
        <div class="input-wrapper">
      <input class="input-name-mail" #name="ngModel" minlength="3" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required>

      @if(!name.valid && name.touched) {
        <img class="status-icon" src="./../../assets/img/Not-Valid.png">
        <span class="error-text">Please enter your name</span>
       } @else if (name.valid) {
        <img class="status-icon" src="./../../assets/img/Valid.png">
       }
      </div>
    </div>

      <div class="inputs-container">
        <div class="input-wrapper">
      <input class="input-name-mail" #mail="ngModel" minlength="5" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
     
      @if(!mail.valid && mail.touched) {
        <img class="status-icon" src="./../../assets/img/Not-Valid.png">
        <span class="error-text">Please enter a valid email</span>
       } @else if (mail.valid) {
        <img class="status-icon" src="./../../assets/img/Valid.png">
       }
      </div>
    </div>

      <div class="inputs-container">
        <div class="input-wrapper">
      <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" required></textarea>

      @if(!message.valid && message.touched) {
        <img class="status-icon" src="./../../assets/img/Not-Valid.png">
        <span class="error-text">Please enter a message</span>
       } @else if (message.valid) {
        <img class="status-icon" src="./../../assets/img/Valid.png">
       }
      </div>
      </div>

       <div class="inputs-container">
        <div class="checkbox-container">
         <input class="checkbox" #checkbox="ngModel" [(ngModel)]="contactData.checkbox" type="checkbox" name="checkbox" id="checkbox" required>
         <label for="checkbox"></label>
         <span>I've read the <a href="#">privacy policy</a>and agree to the processing of my data as outlined.</span>
        </div>
        @if (!checkbox.valid && checkbox.touched) {
          <span class="error-text">Please accept the privacy policy</span>
        }
       </div>

      <input class="submit" type="submit" value="Send message :)" [disabled]="!contactForm.form.valid">
  
    </form>
  </div>
  </div>
