<div class="contact-container">
  <div class="headline">
    <div class="purple-line"></div>
  <h2>Contact</h2>
</div>
<div class="form-description-container">
  <div class="description">
    <h4>Got a problem to solve?</h4>
    <span>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</span>
    <span>Need a Frontend developer? <b>Contact me!</b></span>
  </div>
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
  
      <input class="input-name-mail" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name" required>

      <input class="input-name-mail" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
  
      <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your message" style="height:200px" required></textarea>
       @if(!message.valid && message.touched) {
        <span>Please enter a message</span>
       }

       <div class="checkbox-container">
        <img src="./../../assets/img/checkbox-off.png">
        <span>I've read the <a href="#">privacy policy</a>and agree to the processing of my data as outlined.</span>
       </div>

      <input class="submit" type="submit" value="Send message :)">
  
    </form>
  </div>
  </div>
