@import "./../../styles.scss";

.contact-container {
  @include position($p: relative, $t: 0px);
  @include dFlex($jc: space-between, $ai: center, $g: 16px);
  width: 100%;
  height: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  @media (max-width: 1200px) {
        padding-top: 100px;
    }

  .purple-shadow {
    @include position($t: none, $l: 0);
    bottom: 0;
    width: 700px;
    height: auto;

    @media (max-width: 920px) {
      width: 250px;
    }
  }
}

.up-to-aot {
  @include position($t: none, $l: none);
  right: 50px;
  bottom: 50px;
  @include dFlex($jc: center, $ai: center);
  border: 1px solid white;
  border-radius: 50%;
  transition: border 175ms ease-in-out;

  &:hover {
    cursor: pointer;
    border: 1px solid $green;

    .arrow-up {
      content: url("./../../assets/img/arrow-green.png");
    }
  }

  a {
    text-decoration: none;
    width: 16px;
    height: 16px;
    padding: 8px;

    .arrow-up {
      width: 100%;
      height: auto;
      transition: all 175ms ease-in-out;
    }
  }
}

.headline {
  @include position($t: 100px, $l: 0);
  @include dFlex($jc: flex-start, $ai: center, $g: 16px);

  .purple-line {
    width: 50px;
    border: 3px solid $violet;

    @media (max-width: 400px) {
      width: 25px;
    }
  }

  h2 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin: 0;

    @media (max-width: 1200px) {
      font-size: 74px;
    }

    @media (max-width: 650px) {
      font-size: 56px;
    }

    @media (max-width: 400px) {
      font-size: 48px;
    }
  }
}

.form-description-container {
  @include dFlex($jc: space-between, $ai: flex-start, $g: 16px);
  width: 100%;
  height: auto;
  padding: 150px 100px 0 100px;

  @media (max-width: 1200px) {
    padding: 150px 50px 0 50px;
  }

  @media (max-width: 920px) {
    @include dFlex($jc: space-between, $ai: center, $g: 16px);
    flex-direction: column;
    padding: 150px 20px 0 20px;
  }

  @media (max-width: 650px) {
    padding: 150px 10px 0 10px;
  }
}

.description {
  @include dFlex($jc: flex-start, $ai: flex-start, $g: 32px);
  flex-direction: column;
  width: 500px;
  height: auto;
  z-index: 1;

  @media (max-width: 650px) {
    width: 90%;
  }

  h4 {
    font-size: 32px;
    font-weight: 700;
    color: white;
    margin: 0;

    @media (max-width: 650px) {
      font-size: 28px;
    }
  }

  span {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin: 0;

    @media (max-width: 650px) {
      font-size: 14px;
    }
  }
}

form {
  @include dFlex($jc: flex-start, $ai: center, $g: 32px);
  flex-direction: column;
  max-width: 620px;
  width: 90%;
  height: auto;
  z-index: 1;

  @media (max-width: 920px) {
    @include dFlex($jc: space-between, $ai: center, $g: 16px);
    flex-direction: column;
  }

  .input-wrapper {
    position: relative;
    width: 100%;
    height: auto;

    .status-icon {
      position: absolute;
      top: 15px;
      right: 10px;
      width: 20px;
      height: 20px;
    }
  }

  input,
  textarea {
    border: 1px solid $violet;
    background-color: transparent;
    transition: border-color 0.3s, background-color 0.3s;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: "Poppins";

    &:hover {
      border-color: $turkis;
    }

    &:focus {
      border-color: $turkis;
      background-color: transparent;
      outline: none;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      -webkit-text-fill-color: white;
      transition: background-color 5000s ease-in-out 0s;
    }

    &.ng-valid,
    textarea.ng-valid {
      border-color: $green;
    }

    &.ng-invalid.ng-touched,
    textarea.ng-invalid.ng-touched {
      border-color: $error;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      color: white;
      font-family: "Poppins";
    }
  }

  .input-name-mail {
    width: calc(100% - 50px);
    height: calc(50px - 30px);
  }

  textarea {
    width: calc(100% - 50px);
    height: calc(200px - 30px);
    resize: none;
  }

  .inputs-container {
    @include dFlex($jc: flex-start, $ai: flex-start, $g: 8px);
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

.error-text {
  font-size: 14px;
  font-weight: 400;
  color: $error !important;
}

.checkbox-container {
  @include dFlex($jc: flex-start, $ai: center, $g: 32px);
  width: 100%;
  height: auto;

  @media (max-width: 650px) {
    @include dFlex($jc: space-between, $ai: center, $g: 16px);
  }

  .checkbox {
    display: none;
  }

  .checkbox-label {
    cursor: pointer;
  }

  .checkbox-label img {
    width: 20px;
    height: 20px;
  }

  .checkbox:checked + .checkbox-label img {
    content: url('./../../assets/img/checkbox-on.png');
  }

  span {
    font-size: 16px;
    font-weight: 400;
    color: white;

    @media (max-width: 650px) {
      width: 85%;
      font-size: 14px;
      text-align: start;
    }
  }

  .privacy-policy {
    text-decoration: none !important;
    color: $violet !important;
    font-weight: bold;
  
    &:hover {
      cursor: pointer !important;
      text-decoration: underline !important;
    }
  }
}

.submit {
  @include dFlex($jc: center, $ai: center);
  width: calc(260px - 60px);
  height: calc(90px - 30px);
  padding: 15px 30px;
  border: none !important;
  border-radius: 10px;
  background-color: $green !important;
  color: white;
  font-size: 20px;

  @media (max-width: 650px) {
    width: calc(180px - 12px);
    height: calc(64px - 12px);
    padding: 6px;
    font-size: 18px;
  }

  &:disabled {
    background-color: rgba($color: grey, $alpha: 0.5) !important;
    cursor: not-allowed;
  }
}

.confirm-container {
  @include position($t: 125%, $l: 50%);
  @include dFlex($jc: center, $ai: center);
  transform: translate(-50%, -125%);
  width: calc(280px - 30px);
  height: calc(80px - 40px);
  padding: 20px 15px;
  background-color: $green;
  border: 2px solid $violet;
  border-radius: 12px;
  z-index: 100;
  opacity: 0;

  @media (max-width: 920px) {
    @include position($t: 50%, $l: 50%);
    transform: translate(-50%, -50%);
    width: calc(240px - 16px);
    height: calc(60px - 24px);
    padding: 12px 8px;
  }
  
  span {
    color: white;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
  
  @media (max-width: 920px) {
    font-size: 18px;
  }
  }
}
