<div class="portfolio-container">
  <img class="purple-shadow" src="./../../assets/img/Purple shadow 3.png" />
  <img class="green-shadow" src="./../../assets/img/Green shadow 3.png">
  <div class="portfolio-headline">
    <div class="purple-line"></div>
    <h2>Portfolio</h2>
    <div class="purple-line-long"></div>
  </div>
  <span class="description"
    >Explore a selection of my work here - Interact with projects to see my
    skills in action.</span
  >

  <div class="project-container">
    @for(project of projectsdata.projectslist; track project.name; let index =
    $index){

    <app-projects [project]="project" class="single-project" [ngClass]="{'reversed': index % 2 == 1}"></app-projects>
    }
  </div>
</div>
