@import "./../../styles.scss";

.portfolio-container {
  @include position($p: relative, $t: 0px);
  @include dFlex($jc: flex-start, $ai: center, $g: 36px);
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 200px;
  z-index: 4;

  @media (max-width: 1200px) {
    padding-top: 100px;
  }

  .purple-shadow {
    @include position($t: 65%, $l: 0);
    width: 630px;
    height: auto;

    @media (max-width: 1200px) {
      @include position($t: 70%, $l: 0);
      width: 330px;
    }
  }

  .green-shadow {
    @include position($t: 65%, $l: none);
    right: 0;
    width: 400px;
    height: auto;

    @media (max-width: 1200px) {
      width: 200px;
    }
  }
}

.single-project {
  @include dFlex($jc: center, $ai: center, $g: 35px);
  max-width: 1920px;
  width: 80%;
  height: 500px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    @include dFlex($jc: center, $ai: center, $g: 12px);
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

.portfolio-headline {
  @include dFlex($jc: flex-end, $ai: center, $g: 16px);
  width: 100%;
  height: auto;

  h2 {
    width: 400px;
    font-size: 90px;
    font-weight: 700;
    color: white;
    margin: 0;

    @media (max-width: 1200px) {
      font-size: 74px;
      width: 320px;
    }

    @media (max-width: 650px) {
      font-size: 56px;
      width: 240px;
    }

    @media (max-width: 400px) {
      font-size: 48px;
    }
  }

  .purple-line {
    width: 100px;
    border: 3px solid $violet;
    @media (max-width: 650px) {
      width: calc(50% - 120px);
    }
  }

  .purple-line-long {
    width: calc(50% - 200px);
    border: 3px solid $violet;

    @media (max-width: 650px) {
      width: calc(50% - 120px);
    }
  }
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: white;

  @media (max-width: 650px) {
    text-align: center;
  }
}

.project-container {
  @include dFlex($jc: center, $ai: center, $g: 100px);
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  z-index: 5;

  @media (max-width: 1200px) {
    margin-top: 0px;
  }
}

.reversed {
  flex-direction: row-reverse;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}
