<div class="my-skills-container">
    <img class="green-shadow" src="./../../assets/img/Green shadow 2.png">
    <div class="skills-icons-container">
        @for (skill of skills; track skill.name; let i = $index) {
            <div>
                <img class="skills-icons" [src]="skill.img" [alt]="skill.name">
                <span>{{skill.name}}</span>
            </div>
        }
    </div>
    <div class="description-my-skills">
        <h2>My skills</h2>
        <span>I have gained experience in building projects with various front end technologies and concepts.</span>
        <a href="#contact" class="to-contact green-button">Get in touch</a>
    </div>
</div>
