@import "./../../styles.scss";

.my-skills-container {
    @include position($p: relative, $t: 0px);
    @include dFlex($jc: space-between, $ai: center, $g: 16px);
    width: 100%;
    height: auto;
    padding-top: 200px;

    @media ( max-width: 1200px) {
        @include dFlex($jc: space-between, $ai: center, $g: 50px);
        flex-direction: column-reverse;
        padding-top: 100px;
      }

    .green-shadow {
        @include position($t: 200px, $l: 0);
        width: 420px;
        height: auto;
    }
}

.skills-icons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 54px; 
    max-width: 720px;
    width: 50%;
    height: auto;
    margin-left: 100px;
    z-index: 1;
  
    @media (max-width: 1200px) {
      margin-left: 0px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, auto);
      gap: 12px;
    }

    @media (max-width: 650px) {
        width: 90%;
      }

    div {
        @include dFlex($jc: center, $ai: center, $g: 16px);
        flex-direction: column;
        text-align: center;

        .skills-icons {
            width: 60px;
            height: auto;

            @media ( max-width: 650px) {
                width: 32px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        span {
            font-size: 16px;
            font-weight: 700;
            color: white;
            transition: transform 175ms ease-in-out;

            @media ( max-width: 650px) {
                font-size: 14px;
                font-weight: 500;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}

.description-my-skills {
    @include dFlex($jc: space-between, $ai: center, $g: 24px);
    flex-direction: column;
    max-width: 570px;
    width: 50%;
    height: 300px;
    margin-right: 100px;

    @media ( max-width: 1200px) {
        @include dFlex($jc: center, $ai: center, $g: 12px);
        text-align: center;
        margin-right: 0px;
      }
    
    h2 {
        font-size: 90px;
        font-weight: 700;
        color: white;
        margin: 0;
        text-wrap: nowrap;

        @media ( max-width: 1200px) {
            font-size: 74px;
          }
        
          @media ( max-width: 650px) {
            font-size: 56px;
          }
        
          @media ( max-width: 400px) {
            font-size: 48px;
          }
    }

    span {
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-align: end;

        @media ( max-width: 1200px) {
            text-align: center;
          }

        @media ( max-width: 650px) {
        font-size: 14px;
          }
    }

    .to-contact {
        @include dFlex($jc: center, $ai: center);
        width: calc(auto - 60px);
        height: calc(58px - 30px);
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        font-weight: 400;
        background-color: $green;
        color: white;
        text-decoration: none;
        z-index: 1000;
        text-wrap: nowrap;

        @media ( max-width: 650px) {
            width: calc(auto - 16px);
            height: calc(58px - 16px);
            padding: 8px;
            font-size: 18px;
      }
    }
}