@import "./../../styles.scss";

.my-skills-container {
    @include position($p: relative, $t: 0px);
    @include dFlex($jc: space-between, $ai: center, $g: 16px);
    width: 100%;
    height: auto;
    padding-top: 200px;

    .green-shadow {
        @include position($t: 200px, $l: 0);
        width: 420px;
        height: auto;
    }
}

.skills-icons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 54px; 
    width: 720px;
    height: auto;
    margin-left: 100px;
    z-index: 1;
    div {
        @include dFlex($jc: center, $ai: center, $g: 16px);
        flex-direction: column;
        text-align: center;

        .skills-icons {
            width: 60px;
            height: auto;

            &:hover {
                cursor: pointer;
            }
        }

        span {
            font-size: 16px;
            font-weight: 700;
            color: white;
            transition: transform 175ms ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}

.description-my-skills {
    @include dFlex($jc: space-between, $ai: center, $g: 24px);
    flex-direction: column;
    width: 570px;
    height: 300px;
    margin-right: 100px;
    h2 {
        font-size: 90px;
        font-weight: 700;
        color: white;
        margin: 0;
    }

    span {
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-align: end;
    }

    .to-contact {
        @include dFlex($jc: center, $ai: center);
        width: calc(200px - 60px);
        height: calc(58px - 30px);
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        font-weight: 400;
        background-color: $green;
        color: white;
        text-decoration: none;
    }
}