@import './../../styles.scss';

.imprint-container {
    width: calc(100% - 200px);
    min-height: 80vh;
    height: auto;
    color: white;
    padding: 200px 100px;
}

h1 {
    margin: 0;
}

a {
    color: $violet;
    text-decoration: none;
    
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

}