<div class="privacy-container">
  <h1>{{ 'PRIVACY_POLICY' | translate }}</h1>
  <section  [innerHTML]="translate.instant('PRIVACY_POLICY_TEXT_1')"></section>
  <section [innerHTML]="translate.instant('HOSTING')"></section>
  <a
  href="https://all-inkl.com/datenschutzinformationen/"
  target="_blank"
  rel="noopener noreferrer"
  >https://all-inkl.com/datenschutzinformationen/</a>
  <section [innerHTML]="translate.instant('HOSTING_TEXT')"></section>
  <section [innerHTML]="translate.instant('PRIVACY_GENERAL_INFO')"></section>
  <section [innerHTML]="translate.instant('DATA_COLLECTION')"></section>
  <p>{{ 'PRIVACY_POLICY_SOURCE' | translate }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
</div>
