<footer>
  <div class="headline-container">
    <a class="back-to-aot" href="#aot">
      <img src="./../../../assets/img/logo.png" alt="logo" />
    </a>
    <a class="imprint" [routerLink]="['/imprint']">{{
      "IMPRINT" | translate
    }}</a>
  </div>
  <span class="copyright">© Oleg Benets 2024</span>
  <div class="icon-container">
    <a class="icon-link" href="https://github.com/OlegBenets"
      ><img class="icons" src="./../../assets/img/github-icon.png"
    /></a>
    <a class="icon-link" href="mailto:oleg.benets@web.de"
      ><img class="icons" src="./../../assets/img/mail-icon.png"
    /></a>
    <a
      class="icon-link"
      href="https://www.linkedin.com/in/oleg-benets-0b7a58319/"
      ><img class="icons" src="./../../assets/img/linkedin-icon.png"
    /></a>
  </div>
</footer>
